<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>PTIT E-library</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-altlight2">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img class="mx-1" src="/img/ptit.png" alt="ptit_logo" width="auto" height="50">
                        <img class="ms-2" src="/img/iec.png" alt="iec_logo" width="auto" height="50">
                        <img class="ms-5" src="/img/ptitelib.png" alt="ptit_elib" width="auto" height="50">
                    </a>
                </div>
            </nav>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="btn-group d-flex me-2" role="group" aria-label="login signup">
                    <button type="button" class="btn btn-outline-primary">Log in</button>
                    <button type="button" class="btn btn-outline-primary">Sign up</button>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Trang chủ</a>
                <a href="#" class="list-group-item list-group-item-action">Tin tức</a>
                <a href="#" class="list-group-item list-group-item-action">Thông tin cá nhân</a>
                <a href="#" class="list-group-item list-group-item-action">Danh sách đã mượn</a>
                <a href="#" class="list-group-item list-group-item-action">Đánh giá đã viết</a>
                <a href="#" class="list-group-item list-group-item-action">Liên hệ</a>
            </div>
        </div>
        <div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>